<div class="container">
  <div class="text-center">

    <div class="row p-5">
      <h1>Welcome to the Car Wash Planner</h1>
    </div>

    <br>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-6">Please Select Your State:</label>
        <div class="col-lg-6" style="position: relative;">
          <input class="col-lg-12 form-control text-center" type="text" (keyup)="searchForState($event)"
            [(ngModel)]="searchedState" placeholder="Search for your state" />
          <ul class="col-lg-12 dropdown p-0 border border-1 w-100"
            style="position: absolute; max-height: 250px; overflow-y: scroll; z-index: 999; background: white;"
            *ngIf="displayFilteredStates">
            <li class="dropdown-item border w-100" *ngFor="let filteredState of filteredStates"
              (click)="selectState(filteredState)">
              {{ filteredState }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <br>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-6">Please Select Your City:</label>
        <div class="col-lg-6" style="position: relative;">
          <input class="col-lg-12 form-control text-center" type="text" (keyup)="searchForCity($event)"
            [(ngModel)]="searchedCity" placeholder="Search for your city" />
          <ul class="col-lg-12 dropdown p-0 border border-1 w-100"
            style="position: absolute; max-height: 250px; overflow-y: scroll; z-index: 999; background: white;"
            *ngIf="displayFilteredCities">
            <li class="dropdown-item border w-100" *ngFor="let filteredCity of filteredCities"
              (click)="selectCity(filteredCity)">
              {{ filteredCity.city }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <br>
    <!-- 
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <label>How many days you want your car to stay clean?</label>
        </div>
        <div class="col-lg-6">
          <div ngbDropdown class="d-inline-block col-lg-12 text-center">
            <button class="btn btn-outline-primary w-100" id="dropdownBasic1" ngbDropdownToggle>
              {{ daysToForecast }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="w-100 text-center">
              <button ngbDropdownItem *ngFor=" let x of daysForcastable ; let i = index" class="dropdown-item border"
                (click)="daysToForecast = (i + 1).toString()">
                {{ i + 1 }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br> -->

    <div class="col-lg-12" role="group">
      <div class="row">
        <div class="col-lg-6">
          <label>What weather conditions you would like to avoid?</label>
        </div>
        <div class="col-lg-6">
          <label class="col btn-outline-primary" ngbButtonLabel *ngFor="let avoidable of avoidables">
            <i class="{{ avoidable.icon }}"></i>
            <input type="checkbox" class="btn-check" ngbButton [ngModel]="avoidable.name"
              (click)="selectAvoidable(avoidable.name)"> {{ avoidable.name }}
          </label>
        </div>
      </div>
    </div>

    <br>

    <button class="btn btn-outline-success" (click)="checkWeather()">
      Let's go!!
    </button>

    <br>
    <br>

    <div class="col-lg-12 mb-5">
      <div class="row">
        <div *ngFor="let x of displayCards"
          [ngClass]="bestDays == x.daysClean ?'border-success col-sm-12 border p-2 border-5':'col-sm-12 border p-2'">
          <div class=" row">
            <div class="col">
              {{ x.date }}
            </div>
            <div class="col">
              <p class="small">Weather Predicted:</p>
              <b>{{ x.weather[0].main }}</b>
            </div>
            <div class="col">
              <p class="mb-0 small">Clean For</p>
              {{ x.daysClean }} days
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>