<div class="container">
  <div class="text-center">

    <div class="row p-5">
      <h1>Welcome to the Car Wash Planner</h1>
    </div>

    <br>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-6">Please Select Your State:</label>
        <div class="col-lg-6" style="position: relative;">
          <input class="col-lg-12 form-control" type="text" (keyup)="searchForState($event)" [(ngModel)]="searchedState"
            placeholder="Search for your state" />
          <ul class="col-lg-12 dropdown p-0 border border-1"
            style="position: absolute; max-height: 250px; overflow-y: scroll; z-index: 999; background: white;"
            *ngIf="displayFilteredStates">
            <li class="dropdown-item border" *ngFor="let filteredState of filteredStates"
              (click)="selectState(filteredState)">
              {{ filteredState }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <br>

    <div class="col-lg-12">
      <div class="row">
        <label class="col-lg-6">Please Select Your City:</label>
        <div class="col-lg-6" style="position: relative;">
          <input class="col-lg-12 form-control" type="text" (keyup)="searchForCity($event)" [(ngModel)]="searchedCity"
            placeholder="Search for your city" />
          <ul class="col-lg-12 dropdown p-0 border border-1"
            style="position: absolute; max-height: 250px; overflow-y: scroll; z-index: 999; background: white;"
            *ngIf="displayFilteredCities">
            <li class="dropdown-item border" *ngFor="let filteredCity of filteredCities"
              (click)="selectCity(filteredCity)">
              {{ filteredCity.city }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <br>

    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <label>How many days you want your car to stay clean?</label>
        </div>
        <div class="col-lg-6">
          <div ngbDropdown class="d-inline-block col-lg-12 text-center">
            <button class="btn btn-outline-primary w-100" id="dropdownBasic1" ngbDropdownToggle>
              {{ daysToForecast }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="w-100 text-center">
              <button ngbDropdownItem *ngFor=" let x of daysForcastable ; let i = index" class="dropdown-item border"
                (click)="daysToForecast = (i + 1).toString()">
                {{ i + 1 }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="col-lg-12" role="group">
      <div class="row">
        <div class="col-lg-6">
          <label>What weather conditions you would like to avoid?</label>
        </div>
        <div class="col-lg-6">
          <label class="col btn-outline-primary" ngbButtonLabel *ngFor="let avoidable of avoidables">
            <i class="{{ avoidable.icon }}"></i>
            <input type="checkbox" class="btn-check" ngbButton [ngModel]="avoidable.name"
              (click)="selectAvoidable(avoidable.name)"> {{ avoidable.name }}
          </label>
        </div>
      </div>
    </div>

    <br>

    <button class="btn btn-outline-success" (click)="checkWeather()">
      Let's Check When Washing Your Car Is A Good Idea!!
    </button>

    <br>
    <br>

    <div class="col-lg-12">
      <div class="row">
        <div class="col border border-2 p-2" *ngFor="let x of displayCards">
          {{ x.date }}
          <br>
          {{ x.weather[0].main }}
          <br>
          {{ x.daysClean }}
        </div>
      </div>
    </div>

  </div>
</div>